
.sub{
  border-radius: 0;
  width:95px;
  position: inherit;
  margin-top:30px;
  align-self: center;
  border:0;
  background-color: rgb(16, 170, 231);
  height:30px;
  cursor: pointer;
}
.dialog{
  border: 1px solid black;
  background-color: white;
  width: 40%;
  margin: 0 auto;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.mainWindow{
  width:100%;
  border:1px solid red;
  height: 100%;
  position: fixed;
  background-color: rgba(245, 244, 244, 0.808);
  // opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub:hover{
  background-color: rgb(16, 170, 231);
}
input{
  height:40px;
  border:0;
  border-bottom: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
}
label{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
h3{

  margin: 0;
  color:white;
}
.heading{
  height: 45px;
  background-color: #128baf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
img{
  width:20px;
  height:20px;
  cursor: pointer;
}
span{
  padding-left:10px;
  color:red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form{
  display: flex;
  flex-direction: column;
}
input:focus{
  border: 0;
  outline: none;
  border-bottom: 1px solid black;
}

